:root {
  --color-1: #27005d;
  --color-2: #9400ff;
  --color-3: #aed2ff;
  --color-4: #e4f1ff;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

body {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--color-1);
}

body > h1 {
  justify-self: center;
  align-self: center;
  color: var(--color-3);
  font-size: 3rem;
  margin: 0;
}

.game-state,
.game-board {
  background-color: var(--color-2);
  border: solid var(--color-3);
  border-width: 0 0 0.3rem 0.3rem;
  border-radius: 1rem;
}

.game-state > *,
.game-board > *,
.name-change-dialog {
  color: var(--color-1);
  background-color: var(--color-4);
  border: solid var(--color-3);
  border-width: 0 0 0.3rem 0.3rem;
  border-radius: 1rem;
}

.game-state button,
.name-change-dialog button {
  background-color: var(--color-2);
  color: var(--color-3);
  border: solid var(--color-3);
  border-width: 0 0 0.3rem 0.3rem;
  border-radius: 0.4rem;
  padding: 0.33rem 1rem;
}

.game-state button:active,
.name-change-dialog button:active,
.game-board .board-cell:active {
  border-width: 0.1rem 0.1rem 0.2rem 0.2rem;
}

.game-board {
  justify-self: center;
  align-self: end;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.game-board .board-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  min-width: max(5rem, 5dvw);
  min-height: max(5rem, 5dvw);
}

.game-state {
  min-width: 200px;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  max-height: 48dvh;
}

.game-state > * {
  padding: 1rem;
}

.game-state .player-card {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.game-state .player-card .player-marker {
  grid-row: 1;
  font-size: 2rem;
}

.game-state .player-card .player-name {
  align-self: end;
}

.game-state .player-card .player-name-change-btn {
  align-self: start;
}

.game-state .turn-display {
  grid-row: 2;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.game-state .game-controls {
  grid-row: 1;
  grid-column: 1;

  display: grid;
  justify-content: center;
  align-items: center;
}

.game-state .game-controls .game-restart-btn {
  font-size: 2rem;
}

.name-change-dialog {
  padding: 0;
  margin: auto;
}

.name-change-dialog form {
  display: grid;
  grid-template: max-content 1fr 1fr / max-content 1fr 1fr;
  gap: 1rem 0.5rem;
  padding: 1rem 2rem;
  align-items: center;
}

.name-change-dialog::backdrop {
  background-color: rgba(0 0 0 / 60%);
}

.name-change-dialog form h2 {
  grid-column: 1 / -1;
}

.name-change-dialog form input {
  grid-column: 2 / -1;
  border-radius: 0.5rem;
  border: 0;
  background-color: var(--color-3);
  padding: 0.2rem 1rem;
}

.name-change-dialog .new-name-change-btn {
  grid-column: 2;
}

.new-name-change-btn .new-name-cancel-btn {
  grid-column: 3;
}
